.transaction-button {
    background: #17AB97;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    cursor: pointer;
}