.transaction-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    border-top: 1px solid #EEE;
    padding-top: 40px;
}