@font-face {
    font-family: 'averta-regular';
    src: url('../fonts/Averta-Regular.ttf') format('opentype');
}
  
@font-face {
    font-family: 'averta-bold';
    src: url('../fonts/Averta-Bold.woff') format('opentype');
}
  