.logo-column {
    background: url('../images/config-bg.png') no-repeat;
    color: black;
    background-color: #123845;
    position: relative;
    flex: 1;
    background-size: cover;
    background-position: 75% top;
    position: relative;
}